body {
  padding-top: 2em;
  padding-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #EE7203;
}

.page{
  margin: 0 auto;
  max-width: 400px;
}

form {

}

form .img{
  text-align: center;
}
form label {
  display: block;
  position: relative;
  margin: 1em 0;
  line-height: 2em;
  font-weight: bold;
}

form .input-container{
  display: block;
  padding: 0 .5em;
  background-color: white;
  border-radius: .3em;
  box-shadow: inset 0px -1px 2px #525252;
  overflow: hidden;
}

form label input,
form label select {
  display: block;
  font-size: 1.2em;
  width: 100%;
  height: 2em;
  line-height: 2em;
  border: none;
  outline: none;
  background-color: transparent;
}

form label input:focus ^.input-container{
  background-color: #080808;
}

.btn-donate{
  display: block;
  margin: .5em 0 0 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  text-transform: uppercase;
  color: rgb(255,204,0);
  background-color: rgb(0,51,153);
  border:none;
  border-radius: .3em;
}


ul.list-donate{
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-donate li {
  display: block;
  line-height: 1.5em;
}
.list-donate strong{
  /*display: block;*/
}

.warning{
  font-size: 3em;
}
