<?php echo $this->doctype(); ?>

<html lang="ptBR">
<head>
  <meta charset="utf-8">
  <?php echo $this->headTitle('MV Shopline Itaú')
    ->setSeparator(' - ')
    ->setAutoEscape(false) ?>

  <?php echo $this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
  ?>

  <!-- Le styles -->
  <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
    ->prependStylesheet($this->basePath() . '/css/style.css') ?>

  <!-- Scripts -->
  <?php echo $this->headScript()
    ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js');
  //            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
  //            ->prependFile($this->basePath() . '/js/jquery.min.js')
  //            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
  //            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
  ; ?>

</head>
<body>
<?php echo $this->content; ?>

<?php echo $this->inlineScript()
  ->prependFile($this->basePath() . '/js/script.js') ?>
</body>
</html>
