<?php
$form->setAttribute('name', 'mvForm')
  ->setAttribute('method', 'post')
  ->setAttribute('action', $this->url($this->route))
  ->prepare();

$formItau->setAttribute('name', 'form')
  ->setAttribute('method', 'post')
  ->setAttribute('onsubmit', 'carregabrw()')
  ->setAttribute('target', 'shopline')
  ->setAttribute('action', 'https://shopline.itau.com.br/shopline/shopline.aspx')
  ->prepare();
?>

<div class="page">


  <div class="img">
    <img src="/img/financiamento.gif" alt="">
  </div>


  <?php if (!$viewGenerate): ?>

    <?php echo $this->form()->openTag($form); ?>

    <?php foreach ($form->getElements() as $element): ?>

      <?php echo $this->formLabel()->openTag($element); ?>
      <span><?php echo $element->getLabel() ?></span>
      <div class="input-container">
        <?php echo $this->formElement($element); ?>
      </div>
      <div class="input-error">
        <?php echo $this->formElementErrors($element); ?>
      </div>

      <?php echo $this->formLabel()->closeTag(); ?>
    <?php endforeach; ?>

    <input class="btn-donate" type="submit" value="Doar">

    <?php echo $this->form()->closeTag(); ?>

  <?php else: ?>
    <?php echo $this->form()->openTag($formItau); ?>

    <h2 class="warning">Seus dados estão prontos para pagamento</h2>

    <ul class="list-donate">
      <li>Nome Completo:
        <strong>
          <?php echo $dadoSacado['nomeSacado']; ?>
        </strong></li>
      <li>Tipo e inscrição:
        <strong>
          <?php echo $dadoSacado['codigoInscricao']; ?>
        </strong></li>
      <li>CPF/CNPJ:
        <strong>
          <?php echo $dadoSacado['numeroInscricao']; ?>
        </strong></li>
      <li>CEP:
        <strong>
          <?php echo $dadoSacado['cepSacado']; ?>
        </strong></li>
      <li>Endereço:
        <strong>
          <?php echo $dadoSacado['enderecoSacado']; ?>
        </strong></li>
      <li>Bairro:
        <strong>
          <?php echo $dadoSacado['bairroSacado']; ?>
        </strong></li>
      <li>Cidade:
        <strong>
          <?php echo $dadoSacado['cidadeSacado']; ?>
        </strong></li>
      <li>Estado:
        <strong>
          <?php echo $dadoSacado['estadoSacado']; ?>
        </strong></li>
      <li>
        <h1>
          Valor:
          <strong>
            R$ <?php echo $dadoSacado['valor']; ?>
          </strong>
        </h1>
      </li>
    </ul>

    <?php echo $this->formRow($formItau->get('DC')); ?>

    <input class="btn-donate" type="submit" value="Efetuar Pagamento">
    <?php echo $this->form()->closeTag(); ?>
  <?php endif; ?>

  <h2>Favorecido:</h2>

  <p>Associação Cultural Chagas Peres</br>
    CNPJ: 08.782.710/0001-22</p>

  <p>
    Banco Itaú 341 <br>
    Agência: 8146 <br>
    Conta Corrente: 23807-9
  </p>

</div>
